@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Open Sana', sans-serif;
  font: normal 100%/1.5;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 110%;
  }

}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, p, ul, ol, dl {
  margin: 0 0 1.5em 0;
}

body {
  margin: 0;
}

header {
  background-color: #cbcbcb;
}

.venus {
  margin: 0;
  text-align: center;
}

.grey {
  background-color: #e2e2e2;
  text-align: center;
}

.block {
  background-color: #2e80d9;
  color: white;
  padding: 0.75em 0.5em 0.75em 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.grey2 {
  background-color: #eeeeee;
}

h3 {
  margin: 0;
  text-align: center;
}

.probes {
  text-align: left;
  padding: 0em;
}

header nav li {
  padding-left: 2em;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  color: #2e80d9;
}

.gutter {
  padding: 1.5em;
}

.img-flex {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #2e80d9;
}

.moonimg {
  padding-left: 1em;
  padding-right: 1em;
}

.vp {
  padding-left: 1em;
  padding-right: 1em;
}

.prefooter {
  background-color: #e2e2e2;
  text-align: left;
}

.op {
  text-align: left;
}

p {
  margin: 0em;
}

dd {
  margin: 0;
}

footer {
  background-color: #cbcbcb;
  padding: 0em 1em 0em 1em;
}

.footer{
  margin: 0;
}

footer nav {
  text-align: left;
}

@media only screen and (min-width: 24em) {

nav {
  text-align: center;
}

header nav li {
  padding-left: 1em;
  padding-right: 1em;
}

li {
  display: inline-block;
}

a:hover {
  padding: 0.75em;
}

}


@media only screen and (min-width: 38em) {

.venus {
  text-align: left;
  padding-left: 1em;
}

header {
  text-align: center;
}

h3 {
  text-align: left;
  padding-left: 0em;
}

.vp {
  padding-right: 1em;
}

footer nav {
  text-align: center;
}

}
